@model IEnumerable<CodeFirstApp.Models.Student>

@{
    ViewData["Title"] = "Student List";
}

<h1>Student details</h1>

<p>
    <a class="btn btn-success text-white" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adhaar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adhaar)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.sid">Edit</a> 
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.sid">Details</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
